.header-container{
    display: flex;
    height: 50px;
    padding: var(--spacing-small);
    background-color: var(--color-black);
    

}
.header-counter{
    margin-left: auto;
    padding-right: var(--spacing-small);
    font-weight: bolder;
    cursor: pointer;
}
.header-a{
    cursor: pointer;
    text-decoration: none;
    color: yellow;
}
.header-a:hover{
    color: orange;
    cursor: grab;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}