body {
	max-height: 100%;
    max-width: 100%;
	margin: 0 auto;
	padding: 0;
	background: linear-gradient(90deg, black 50%, yellow 50%);
	font-family: 'Reggae One', cursive;
	text-align: center;
	line-height: 30px;
	color: yellow;
	text-transform: uppercase;
}
*{
    box-sizing: border-box;
}
:root{
    --color-light: yellow;
    --color-black:black;
    --spacing-small:10px;
    --spacing-medium:15px;
    --spacing-large:30px;
    --border-radius: 3px;
    --linear-gradient:linear-gradient(45deg, yellow, black);
	--box-shadow: 
		0 16px 24px 2px rgba(59, 5, 5, 0.02), 
		0 6px 30px 5px rgba(41, 33, 33, 0.04), 
		0 8px 10px -5px rgba(41, 33, 33, 0.1);
}
::-webkit-scrollbar{
    min-width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--color-black);

}
::-webkit-scrollbar-track{
    background-color: yellow;
}
*{
    box-sizing: border-box;
	
}
.wishlish-element__img{
    position: relative;
    display: inline-block;
    width: 120px;
    height: 90px;
    border: 4px yellow solid;
    position: relative;
    margin-top: 4%;
    border-radius: 15px;
}
.wishlish-element__name{
    
    padding: var(--spacing-medium);
    font-weight: bolder;
	font-size: 12px; 
}
.wishlish-element__price{
    padding:var(--spacing-medium);
}
.formList{
	position: relative;
	color: black;
	width: min-content;
	float: right;
	bottom: 300px;
	right: 150px;
	
}
.container{
    position: relative;
    background-color: black;
    float: right;
    bottom: 450px;
    margin:0px 30px 0px 0px;
    padding: 15px;
    height: max-content;
}
.btns{
    
    color:yellow;
    background-color: black;
    border-radius: 15px;
    width: 150px;
}
#uName{
    margin-left: 15px;
}
.btn_email{
    color:yellow;
    background-color: black;
    border-radius: 15px;
    width: 150px;

}
.btn_uName{
    color:yellow;
    background-color: black;
    border-radius: 15px;
    width: 150px;
    

}
.btn-submit:hover{
    border: black 1px solid;
    color: black;
    background-color: yellow;
}
.btn_postCode{
    color:yellow;
    background-color: black;
    border-radius: 15px;
    width: 150px;
    
}

  .btn {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    top: 15px;
    background-color: yellow;
    margin-bottom: 15px;
    border-radius: 15px;
  } 
.btn:hover {
    text-decoration: none;
  }
  
 
  .effect04 {
    --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
    display: var(--uismLinkDisplay);
    color: #000;
    outline: solid  2px #000;
    position: relative;
    transition-duration: 0.4s;
    overflow: hidden;
  }
  
  .effect04::before,
  .effect04 span{
      margin: 0 auto;
      transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
      transition-duration: 0.4s;
  }
  

  .effect04:hover{
  
    background-color: #000;
  }
  

  .effect04:hover span{
    -webkit-transform: translateY(-400%) scale(-0.1,20);
            transform: translateY(-400%) scale(-0.1,20);
  }
  

  .effect04::before{
    content: attr(data-sm-link-text);
      color: yellow;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: translateY(500%) scale(-0.1,20);
            transform: translateY(500%) scale(-0.1,20);
  }
  
  /* HOVERしたら文字2を上に */
  .effect04:hover::before{
    letter-spacing: 0.05em;
    -webkit-transform: translateY(0) scale(1,1);
            transform: translateY(0) scale(1,1);
  }
  .span{
      text-transform: lowercase;
      border:yellow 1px solid
  }
  .span_postCode{
    text-transform: lowercase;
    border:yellow 1px solid
}
.span_email{
    text-transform: lowercase;
    border:yellow 1px solid
}
.span_uName{
    text-transform: lowercase;
    border:yellow 1px solid
}


    