.header-container{
    display: flex;
    height: 50px;
    padding: var(--spacing-small);
    background-color: var(--color-black);
    border: 2px yellow solid;
    
    

}
.header-counter{
    margin-left: auto;
    padding-right: var(--spacing-small);
    font-weight: bolder;
    cursor: pointer;
}
a{
    color: yellow;
    text-decoration: none;
    text-transform: uppercase;
}
